body {
    margin:0;
    background-color: white;
    
}
h1{
    font-size: 50px;
    margin-top: 0px;
    padding-top: 160px;
    color: white;
    padding-left: 19%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
h2{
    text-align: center;
    font-size:30px;
    margin-top:-20px;

}
header{
    border-bottom: solid 1px black;
    background-image: url(../images/b2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    
}
.linkbox{
    
    padding:25px;
    width:300px;
    color: black;
    margin-bottom:20px;
    background-color: #AAD5E3;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    display:block;
    font-size:20px;
    text-align: center;
    box-sizing:border-box;
}
.linkbox:hover{
    transition:0.7s ease;
    border-left:#d1c598 50px solid;
    
    
}
.container{
    padding-top:50px;
    margin-left:10%;
    margin-right:10%;
    background-color:#E6E2CC;
    height:100%;
}

.adminpic{
    border-radius:50%;
    width:70px;
    margin-bottom: -230px;
    margin-left:10%;
}