body {
    margin:0;
    background-color: #d1c598;
}
h1{
    font-size:40px;
    margin-top:0px;
    padding-top:130px;
    color: white;
    padding-left:20px;
    
}
h2{
    text-align: center;
    font-size:30px;
    margin-top:-20px;

}
header{
    
    border-bottom: solid 1px black;
    
    background-image: url(../images/b2.jpeg);
    




background-repeat: no-repeat;
background-size: cover;
background-position: center center;
min-width: 100%;

}
.linkbox{
    padding:30px;
    width:200px;
    color: white;
    margin-bottom:20px;
    background-color: #7a7359;
    border-radius:25px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    display:block;
    font-size:20px;
    text-align: center;
}
.container{
    margin-top:50px;
}