html, body{
    min-height: 100%;
}

body{
    margin:0;
    padding:0;
    background-image: url("../images/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

.title{
    border-top:white 2px solid;
    border-bottom:white 2px solid;
    color: white;
    margin:30px auto;
    width: 20%;
    text-align:center;
    margin-top:10%;
    padding:10px 0;
    font-weight:400;
    font-size:30px;
}
.subtitle{
    color: white;
    margin: auto;
    width: 45%;
    text-align:center;
    padding:10px 0;
    font-weight:400;
    font-size:17px;
}
.container{
    width:70%;
    margin:auto;
    height: 100%;
}
.asidemenu{
    color: white;
    margin-top:10%;
    
    
}
.parrafo{
    font-size: 10px;
    width:100%;
    margin:10px auto;
}
.linkbox{
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: white 2px solid;
    box-sizing:border-box;
    padding-top:20px;
    width:30%;
    height: 150px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 0.2);
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    padding: 25px 0;
    box-sizing:border-box;
}
.linkbox:hover{
    background-color:white;
    color: black;
    border-bottom: 2px rgb(102, 102, 153) solid;
}
.separateline{
    border-bottom: white 2px solid;
    font-size: 30px;
    margin: 10px;
}

.footerOff{
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    height: 40px;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    padding-top:20px ;
    overflow: hidden;
    transition: 0.7s all ease;
}
.footerOn{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    height: 450px;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    padding-top:20px ;
    transition: 1s all ease;
    
}
.aboutinfo{

}
.aboutinfo h5{
    border-bottom: 1px solid black;
    width: 20%;
    margin: auto;
    
}

.personalpic{
    background-image: url("../images/adminpic.png");
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top:30px ;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.social{
    width: 40px;
    margin:10px;
}
/*
Media Query
--------------------
*/
/*Mobile*/
@media screen and (max-width:980px ){
    .linkbox{
        width:45%;
    }
    .title{
        width: 40%;
        font-size: 40px;
    }
    .footer{
        position: relative;
        bottom: 0;
    }
    .aboutinfo h5{
    border-bottom: 1px solid white;
    width: 40%;
    margin: auto;
    
}
}
@media screen and (max-width: 700px ){
    .linkbox{
        width:95%;
    }
    .title{
        width: 75%;
        font-size: 40px;
    }
    .footer{
        position: relative;
        bottom: 0;
    }
}


